.container {
  background-color: var(--background);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--boxShadow);
  padding: 20px 50px;
}

.left {
  color: var(--mainColor);
  font-weight: 700;
  font-size: 26px;
}

.middle {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.label {
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.active {
  color: var(--mainColor);
}

.right {
  font-size: 16px;
  background-color: var(--mainColor);
  color: var(--background);
  padding: 5px 12px;
  border-radius: var(--borderRadius);
  cursor: pointer;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .middle {
    display: none; /* Hide the middle section */
  }

  .container {
    padding: 10px 20px;
    justify-content: space-between; /* Make sure left and right are spaced apart */
  }

  .left {
    font-size: 30px; /* Adjust the font size for smaller screens */
  }

  .right {
    font-size: 14px; /* Reduce size of the right section for better fit */
    padding: 4px 10px; /* Adjust padding */
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .left {
    font-size: 24px; /* Further reduce font size for very small screens */
  }

  .right {
    font-size: 16px;
    padding: 3px 8px; /* Further adjust padding for smaller screens */
  }
}
